:root {
  --btnColor: rgb(124, 12, 210);
}

main {
      display: flex;
      justify-content: center;
}

#container {
  max-width:400px;
}

#quizScreen {
  display: none;
}
#endScreen {
  display: none;
}
#scoreboardScreen {
  display: none;
}
#highScoresList{
  display: none;
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
}

#btnContainer {
  display: flex;
  flex-direction: column;
}
button {
  width: fit-content;
  text-align: left;
  background-color: var(--btnColor);
  color: aliceblue;
  margin: 2px;
  border-radius: 3px;
}
