#quizScreen {
      display: none;
}
#endScreen {
      display: none;
}

header {
      display: flex;
      justify-content: space-between;
}

#btnContainer {
      display: flex;
      flex-direction: column;
}
#btnContainer button {
      width: 20%;
      text-align: left;
}